{
   "0 96" = {
   description = "The killer mountain Seoids are ignored in the plains, where the deep blue marble cathedral of Greater Walsingham rises majestically over the city. Home to English aristocrats, Digebiti is famous for its tea dances, real tennis and extreme dominoes. The sculpture and duelling pistols are famed exports. Hats are de rigeur.";};

}