{
	"planet_riredi1" = {
        	position = "550000 0 257500";
        	radius = 5500;
        	orientation = "1.0 0.0 0.0 0.0";
        	seed = "1 2 3 4 5 6";
        	"polar_color_factor" = 0.9;
        	"percent_land" = "65";
        	"land_hsb_color" = "0.15 1.0 1.0";
        	"sea_hsb_color" = "0.95 1.0 1.0";
        	"rotational_velocity" = 0.10;
	};
	
	"0 210" = {
		ambient_level = 1.5;
		atmosphere_rotational_velocity = 0.1;
		description = "This world is very fabled for the Rirediian mountain slug. These gigantic creatures are isles of flourishing life on the barren planet and each of them forms a complete ecosystem. Dealing with radioactives is strictly prohibited on this world because radiation is harmful to the slugs. Riredi is home of Coluber inc. and Riredisec ltd.";
		land_hsb_color = "0.999 0.999 0.667";
		percent_land = 85;
	        sea_hsb_color =  "0.999 0.999 0.333";
		sky_blur_alpha = 0.20;
        	sky_blur_cluster_chance = "0.80";
        	sky_blur_scale = 10;
		sky_n_blurs = 600;
		sky_n_stars = 2000;
		sky_rgb_colors = "0.2 0.0 0.0 1.0 1.0 1.0";		
		station = cb68_sodalite_station-riredi-coluber;
		texture = cb68_riredi.png;	   
		/*"script_actions" = (
                	debugOn,
                	"addShipsAtPrecisely: cb68_sodalite_station-riredi-coluber 1 pwm -900000 -258000 300000",
			     "addMoon: planet_riredi1",
			debugOff
			);*/
	};	
}
